
  body {
    margin: 0;
  }

.navbar {
  height: 50px;
  width: 100%;
  top: 0;
  position: fixed;
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
  justify-content:flex-end ;
  
}
a {
  float:right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding-right: 10px;
  text-decoration: none;
}

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    margin: 0;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    
  }

  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: red;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .section{
    margin:0;
    display: block;
    position: absolute;
    background-color: black;
    width: 100%;

  }
.section{
  margin: 0;
  background-color: grey;
}

#contentsection h1 {
  color: blue;
  margin-bottom: .2em;
  }
  #pagetitle{
    justify-content: center;
  }
.section{
  margin:0;
  display:block;
  height: 200px;
  width: 100%;
  background-color: grey;
}

.fwh-slide{
  align-content: center;
  display: flex;
  margin: 0;
  background-color:#efefef;
  box-sizing: content-box;
  height:500px;
  text-decoration-color: rgb(7, 7, 233);
  text-size-adjust: 50px;
  font-weight: 1000;
  font-family: sans-serif;
  line-height: 2;
  text-align-last: center;
  flex-direction: row;
  justify-content: center; 
}

.content{

  margin: 0;
  background-color:#fff;
  font-size: 12px;
 text-size-adjust:auto; 
 text-rendering: auto;
 text-overflow: inherit
  height: 215px;
  width: 215px;
  padding: 50px;
  margin: 20px;
  
}
.p{
  margin:0;
  font-size: 30px;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(248, 245, 245);
  text-align: center;
}






 
  
 


